<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Better Safety</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>

<style>
       h1 {color:MediumSeaGreen;
           font-size: 6em;
           text-align: center;
       }
</style>

<body>
	
    <h1>Better Safety</h>

    <form method="post" action="/search" id="search" name="search">
        <div class="wrapper">
  	    <input type="text" class="input" name="address" placeholder="Where are you looking for?">
            <button class="searchbtn" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>

</body>
</html>
